name: Linux AppImage Build

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y qt6-multimedia-dev libqt6opengl6-dev ffmpeg wget libfuse2

    - name: Build and Package AppImage
      run: |
        bash deploy/build_appimage.sh

    - name: Get Version
      id: get_version
      run: |
        VERSION=$(grep -m 1 "## \[" CHANGELOG.md | sed -n 's/.*\[\([0-9.]*\)\].*/\1/p')
        echo "version=$VERSION" >> $GITHUB_OUTPUT

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: DubInstante_linux_${{ steps.get_version.outputs.version }}
        path: DubInstante_linux_*.AppImage
